* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg,white,#EAD3F8 );
    text-align: center;
}

.marhey-font {
    font-family: "Marhey", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
}


/*navbar*/
.navbar {
    display: flex;
    align-items: center;
    gap: 155px;
    padding: 15px 20px;
    border-bottom: 1px solid;
    position: fixed;
    z-index: 5;
    width: 100%;
    background: white;
    border-bottom: 5px #FF6B6B solid;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.nav-links {
    list-style-type: none;
    display: flex;
}

    .nav-links a {
        text-decoration: none;
        color: #FF6B6B;
        font-weight: 600;
        font-size: 1.1rem;
        transition: all 0.3s ease;
        padding: 4px 10px;
        border-radius: 20px;
        position: relative;
    }

        .nav-links a:hover {
            background-color: #C2E4FF;
            padding: 5px 30px 5px 5px;
            transform: scale(1.1);
        }

        .nav-links a::before {
            content: '🌟';
            position: absolute;
            right: 15px;
            opacity: 0;
            transition: all 0.3s ease;
        }

        .nav-links a:hover::before {
            opacity: 1;
            right: 5px;
        }


/*logo*/
.logo {
    transition: all 0.3s ease;
}

    .logo img {
        width: 15vw;
        height: 15vh;
    }

    .logo:hover {
        transform: scale(1.05);
    }


/*main*/
main {
    padding: 200px 50px 0 50px;
}

.title {
    font-size: 1.4rem;
    margin-bottom: 50px;
    color: #45B7D1;
}

    .title span {
        background: linear-gradient(45deg, #FF6B6B, #4ECDC4, #45B7D1, #96C93D, #FFA07A);
        -webkit-background-clip: text;
        color: transparent;
    }



/*material cards*/
.sub-title {
    font-size: 2rem;
    grid-area: title;
    color: #FF6B6B;
    font-weight: 700;
}

.materials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "title title title"
        "math english arabic"
        "social science religion";
    gap: 50px;
}

    .materials > div {
        border-radius: 20px;
        padding: 50px 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: all 2s ease;
        position: relative;
    }

        .materials > div::before {
            content: '✏️';
            position: absolute;
            right: 15px;
            top: 5px;
            font-size: 2rem;
        }

        .materials > div:hover {
            transform: rotateY(360deg);
        }

    .materials a {
        color: white;
    }



/*subjects*/
.math {
    grid-area: math;
    background: linear-gradient(135deg,#6da16d,#8ac78a 80%);
}

.english {
    grid-area: english;
    background: linear-gradient(135deg,#895ba5,#ab77cc 80%);
}

.arabic {
    grid-area: arabic;
    background: linear-gradient(135deg,#e28966,#FFA07A 80%);
}

.social {
    grid-area: social;
    background: linear-gradient(135deg,#c93497,#f042b6 80%);
}

.science {
    grid-area: science;
    background: linear-gradient(135deg,#d3c013,#f7e225 80%);
}

.religion {
    grid-area: religion;
    background: linear-gradient(135deg,#6698c0,#87bfee 80%);
}




/*wisdom card*/
.wisdom {
    background: white;
    margin: 110px;
    padding: 60px;
    transform: rotate(-1deg);
    color: #45B7D1;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 25px;
    ;
}

    .wisdom::before {
        content: '🌳';
        position: absolute;
        right: 20px;
    }

/*footer*/
.footer {
    padding: 50px 20px 10px 20px;
    background: white;
    border-top: 5px #FF6B6B solid;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.semsem {
    width: 40%;
    color: #FF6B6B;
}

.contact {
    width: 30%;
    color: #FF6B6B;
}

    .contact a {
        text-decoration: none;
        color: #345a51;
    }

/*footer bottom*/
.footer-bottom {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #345a51;
}

    .footer-bottom a {
        text-decoration: none;
        color: #345a51;
    }

        .footer-bottom a:hover {
            transform: scale(1.1);
        }

        /*Slide-in*/
.slide-in {
    opacity: 0;
    transform: translateX(70px); 
    transition: all 0.9s ease-out;
}

    .slide-in.visible {
        opacity: 1;
        transform: translateX(0);
    }