*{
    margin:0;
    padding:0;
}
body {
    background: linear-gradient(135deg,white,#EAD3F8 );
    text-align: center;
  }
  .marhey-font {
    font-family: "Marhey", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /*navbar*/
  .navbar{
    display: flex;
    align-items: center;
    gap:12rem;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border-bottom: 1px solid;
    position: fixed;
    z-index: 5;
    width:100%;
    background:rgb(255, 237, 237) ;
    border-bottom: 4px solid #ffb62e;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
}
.nav-links{
    list-style-type: none;
     display: flex;
}
.nav-links a{
    text-decoration: none;
    color: #a77cc2 ;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    padding: 4px 10px;
    border-radius: 20px;
    position: relative;
}
.nav-links a:hover {
    background-color: #ffdd9f ;
    padding:0.1rem 2rem 0.1rem 2rem;
    transform: scale(1.1);
}
.nav-links a::before {
    content: '🌟';
    position: absolute;
    right: 15px;
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links a:hover::before {
    opacity: 1;
    right: 5px;
}


/*logo*/
.logo{
    display: flex; 
    align-items: center; 
    gap: 10px;
    font-size: 0.7rem;
    font-weight: bold;
    transition: all 0.3s ease;
}
.logo img{
    width:15vw;
    height:15vh;
}
.logo:hover{
    transform: scale(1.05);
}

/*main*/

main{
    padding:10rem 5rem 05rem;
}
.title{
    font-size:1.4rem;
    margin-bottom:3rem;
    color:#a77cc2; 
}
.title span{
    color:#ffb62e;
}
.grades > div {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-top:3px solid #ffb62e;
  }
  .grades a {
    text-decoration: none;
    color:#a77cc2;
  }
  .sub-title{
    font-size:1.2rem;
    grid-area:title;
    color:#a77cc2;
    font-weight: 700;
}
.grades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "title title title"
    "grade1 grade2 grade3"
    "grade4 grade5 grade6";
    gap:2rem;
  }
  .grade1:hover,.grade2:hover,.grade3:hover, .grade4:hover, .grade5:hover, .grade6:hover {
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  .grades h2{
    font-size: 2rem;
  }
  .grade1{
    grid-area: grade1;
  }
  .grade2{
    grid-area: grade2;
  }
  .grade3{
    grid-area: grade3;
  }
  .grade4{
    grid-area: grade4;
  }
  .grade5{
    grid-area: grade5;
  }
  .grade6{
    grid-area: grade6;
  }
  .back-button {
    background: #a77cc2;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    padding:0.8rem;
    margin: 2rem auto 2rem auto;
    width:15rem;
  }
  .back-button a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  .back-button:hover {
    transform: translateX(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: #ffb62e;
  }

  .study-motivation {
    background: #f8f9fa;
    border-right: 8px solid #ffb62e;
    padding: 2rem;
    margin: 5rem auto;
    border-radius: 0 8px 8px 0;
    max-width: 75rem;
    text-align: right;
    color:#a77cc2;
  }
  .study-motivation h3{
    font-size: 1.4rem;
    color:#a77cc2;
  }
  .study-motivation span{
    color:#ffb62e
  }

  .wisdom {
    font-family: "Amiri", serif;
    font-size: 2rem;
    color: #a77cc2;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    line-height: 1.8;
  }

  /*footer*/
.footer{
    padding: 4rem 3rem 1rem 3rem;
    background:rgb(255, 237, 237) ;
    border-top: 4px solid #ffb62e;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.footer-content{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.semsem{
    width:40%;
    color:#a77cc2;
}
.contact{
    width:30%;
    color:#a77cc2;
}
.contact a{
    text-decoration: none;
    color:#a77cc2;
}
.footer-bottom{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    color:#a77cc2;
}
.footer-bottom a{
    text-decoration: none;
    color:#a77cc2;
}
.footer-bottom a:hover{
    transform: scale(1.1);
}
      .fade-in {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 1.5s ease-out, transform 1.5s ease-out;
      }

      .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
      }

@media (max-width: 600px){
    .navbar{
    flex-direction: column;
    gap: 0.4rem;
    padding: auto;
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
    }
    .navbar a{
        font-size:0.6rem;
        
    }
    .nav-links a:hover {
        padding:0.1rem 1.5rem 0.1rem 1.5rem;
    }
    .logo img{
        width:25vw;
        height:25vh;
    }
    .title{
        font-size:1rem;
    }
    .grades {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "grade1 "
        "grade2"
        "grade3"
        "grade4"
         "grade5" 
         "grade6";
        gap:2rem;
      }
    .footer-content{
        flex-direction: column;
    }
    .semsem,.contact{
        width:100%;
        margin:1rem;
    }}


    @media (min-width: 601px) and (max-width: 991px){
        .navbar{
            gap:1rem;
        }
            .navbar a{
                font-size:0.9rem; 
                padding:0.4rem; 
            }
            .nav-links a:hover {
                padding:0.1rem 1.5rem 0.1rem 0.3rem;
            }
            .logo h1{
                font-size:0.9rem;
            }
            .logo img{
                width:14vw;
                height:14vh;
            }
            .title{
                font-size: 1.2rem;
            }
            .grades {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                "title title"
                "grade1 grade2"
                "grade3 grade4"
                "grade5 grade6";
                gap:2rem;
              }
            .footer-content{
                flex-direction: column;
            }
            .semsem,.contact{
                width:100%;
                margin:1rem;
            }
            
    }
        .shape {
      position: absolute;
      font-size: 40px;
      animation: fall linear;
      color: #fff;
    }

  @keyframes fall {
      0% {
        transform: translateY(-4000px);
        opacity: 1;
      }
      100% {
        transform: translateY(-500px);
        opacity: 0;
      }}

